{% extends 'layout.html' %}
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/autocomplete.js"></script> -->
{% block body %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>&nbsp;</p>
      <p> Unfortunately, your query could not be found in our database. Please change your query and try again. </p>
    </div>
  </div>
</div>


{% endblock %}
